.detailesCard{
    display: grid;
    grid-template-columns: 6fr 6fr;
       
    
}
.card-a{
    border: 2px solid rgb(230, 225, 221);
      height: 455px;
      padding: 5px;
      overflow: hidden;
      

    
}
.card-a img{
    width: 100%;
    height: 450px;
  
    transition: transform 0.3s ease;
    padding: 2px;
     
}

.card-a:hover  img{
  transform: scale(1.05);
}
.card-b{
    margin-left: 30px;
    
}
.mony{
    margin-top: 25px;
    font-size: 22px;
    margin-bottom: 10px;
}

.pra-b{
    text-decoration: line-through;
    color: gray;
}
.pra-c{
    color: rgb(243, 15, 125);
}
.tax{
    color: #16a34a;
    margin-bottom: 10px;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cartBtn-a{
    background-color: rgb(255, 132, 0);
    
    border: none;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
    font-size: large;
    color: white;
    padding: 8px;
    margin-right: 18px;
 }
 .cartBtn-b{
     background-color: rgb(255, 132, 0);
    
    border: none;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
    font-size: large;
    color: white;
    padding: 8px;
    margin-right: 18px;

 }
 .details{
    margin-top: 20px;
 }
 .desc{
    font-weight: 500;
    font-size: 18px;
    color: #16a34a;
 }
